#main {
	padding-top: 55px;
}

.char-list-img {
	float: left;
	padding-right: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.character {
	padding: 0.1em;
	margin: 0.1em;
	color: #222222;
}

.char-skill {
	color: #222222;
}

.character:hover {
	background-color: rgba(128,128,128,255);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.danger {
	background-color: rgba(255,128,128,128);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.progress-bar {
	line-height: 1.32;
}

#selected-portrait {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.skill {
        padding-left: 1em;
}