{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block main %}
	<div class="row">
		<div class="col-lg-3">
			<div class="well">
				{% for character in characters %}
				<a href="/character/{{ character.id }}">
				<div class="character{% if character.current_remaining < 24 %} danger{% endif %}">
					<h5>
						<img class="char-list-img" src="//image.eveonline.com/Character/{{ character.id }}_50.jpg">
						{{ character.name }}<br />
						<small class="char-skill">{{ character.current_skill }} {{ character.current_level|skill() }}</small><br />
						{{ character.current_remaining }}
					</h5>
				</div>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-lg-9">
			<section id="char-info">
				<div class="pull-right"><img src="//image.eveonline.com/Character/{{ selected.id }}_128.jpg" id="selected-portrait"></div>
				<h2>{{ selected.name }}</h2>
				<h4>{{ selected.corp }}{% if selected.alliance %} / {{ selected.alliance }}{% endif %}</h4>
				<h5>{{ selected.isk|isk() }} ISK</h5>
				<h5>{{ selected.sp|sp() }} SP / {{ selected.clone|sp() }} SP</h5>
			</section>
			<section id="skill-queue">
				<h3>Skill Queue</h3>
				<div class="progress">
				  <div class="progress-bar progress-bar-success" style="width:60%;">Logistics V</div>
				  <div class="progress-bar" style="width: 5%;">Sensor Compensation I</div>
				</div>
			</section>
			<section id="skill-sheet">
				<h3>Skill Sheet</h3>

			</section>
		</div>
	</div>
{% endblock %}
