{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block main %}
	<div class="row">
		<div class="col-lg-3">
			<div class="well">
				{% for character in characters %}
				<a href="/character/{{ character.id }}">
				<div class="character{% if character.current_finishes < 3600 %} danger{% endif %}">
					<h5>
						<img class="char-list-img" src="//image.eveonline.com/Character/{{ character.id }}_50.jpg">
						<span class="charname">{{ character.name }}</span><br />
						<small class="char-skill">{% if character.current_skill %}{{ character.current_skill|itemname() }} {{ character.current_level|skill() }}{% else %}{% endif %}</small><br />
						{% if character.current_skill %}<span class="countdown">{{ character.current_finishes|timeuntil() }}</span>{% else %}No Skill In Training{% endif %}
					</h5>
				</div>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-lg-9">
		{% if selected %}
			<section id="char-info">
				<div class="pull-right"><img src="//image.eveonline.com/Character/{{ selected.id }}_128.jpg" id="selected-portrait"></div>
				<h2>{{ selected.name }}</h2>
				<h4>{{ selected.corp }}{% if selected.alliance %} / {{ selected.alliance }}{% endif %}</h4>
				<h5>{{ selected.isk|isk() }} ISK</h5>
				<h5><span class="tippy" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Current SP">{{ selected.sp|sp() }} SP</span> / <span class="tippy" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Current Clone">{{ selected.clone|sp() }} SP</span></h5>
			</section>
			<section id="skill-queue">
				<h3>Skill Queue</h3>
				<div class="progress">
				  <div class="progress-bar progress-bar-success" style="width:100%;">{{ selected.current_skill|itemname()}} {{ selected.current_level|skill() }}</div>
				</div>
			</section>
			<section id="skill-sheet">
				<h3>Skill Sheet</h3>
				{% for skill in selected.skills %}
					{% if skill.published %}
						{{ skill.id|itemname() }} {{ skill.level|skill() }}<br />
					{% endif %}
				{% endfor %}
			</section>
		{% endif %}
		</div>
	</div>
{% endblock %}

{% block endjs %}
<script>
$(document).ready(function() {
	$('.tippy').tooltip();
});
</script>
{% endblock %}